
DataType_Task1/DataType_Task1_Project/.vs/DataType_Task1/v17/.suo
DataType_Task1/DataType_Task1_Project/.vs/DataType_Task1/v17/DocumentLayout.json
Прочие файлы/Типы данных Задание 1.txt
DataType_Task1/DataType_Task1_Project/.vs/DataType_Task1/v17/DocumentLayout.json
