USE [master]
GO
/****** Object:  Database [musicDB]    Script Date: 01.04.2026 20:25:23 ******/
CREATE DATABASE [musicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'musicDB', FILENAME = N'C:\Programms\MSSQL17.MSSQLSERVER\MSSQL\DATA\musicDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'musicDB_log', FILENAME = N'C:\Programms\MSSQL17.MSSQLSERVER\MSSQL\DATA\musicDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [musicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [musicDB]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Publishing_date] [date] NULL,
	[Type] [nvarchar](20) NULL,
	[Number_of_songs] [int] NULL,
	[ArtistId] [int] NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Activity_start_year] [int] NULL,
	[Nation] [nvarchar](30) NULL,
	[IsSoloArtist] [bit] NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CopySongs]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopySongs](
	[SongId] [int] NULL,
	[ArtistId] [int] NULL,
	[PlaylistId] [int] NULL,
	[AlbumId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Sound_style] [nvarchar](100) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Creation_date] [datetime2](7) NULL,
	[Number_of_songs] [int] NULL,
	[Abandoned] [bit] NULL,
	[OwnerNick] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Duration] [time](7) NULL,
	[MaxVolume_Db] [float] NULL,
	[MaxFrequency_Hz] [float] NULL,
	[GenreId] [int] NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.04.2026 20:25:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Guid] [uniqueidentifier] NOT NULL,
	[Nickname] [nvarchar](30) NOT NULL,
	[Mail] [nvarchar](50) NULL,
	[Password] [nvarchar](30) NULL,
	[Registration_date] [date] NULL,
	[Gender] [nvarchar](1) NULL,
 CONSTRAINT [PK__Users__A2B5777C818F36E2] PRIMARY KEY CLUSTERED 
(
	[Nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([id], [Name], [Publishing_date], [Type], [Number_of_songs], [ArtistId]) VALUES (1, N'Creation''s Finest', CAST(N'2012-02-12' AS Date), N'Album', 12, 2)
INSERT [dbo].[Albums] ([id], [Name], [Publishing_date], [Type], [Number_of_songs], [ArtistId]) VALUES (2, N'Kaitai Piano', CAST(N'2008-08-02' AS Date), N'Album', 12, 5)
INSERT [dbo].[Albums] ([id], [Name], [Publishing_date], [Type], [Number_of_songs], [ArtistId]) VALUES (3, N'Do Not Cover', CAST(N'2014-09-30' AS Date), N'EP', 4, 7)
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([id], [Name], [Activity_start_year], [Nation], [IsSoloArtist]) VALUES (1, N'King Gizzard & Lizard Wizard', 2010, N'Australia', 0)
INSERT [dbo].[Artists] ([id], [Name], [Activity_start_year], [Nation], [IsSoloArtist]) VALUES (2, N'Mother''s Cake', 2008, N'Austria', 0)
INSERT [dbo].[Artists] ([id], [Name], [Activity_start_year], [Nation], [IsSoloArtist]) VALUES (3, N'Goat', 2012, N'Sweden', 0)
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
INSERT [dbo].[CopySongs] ([SongId], [ArtistId], [PlaylistId], [AlbumId]) VALUES (6, 2, 4, 1)
INSERT [dbo].[CopySongs] ([SongId], [ArtistId], [PlaylistId], [AlbumId]) VALUES (7, 2, 4, 1)
INSERT [dbo].[CopySongs] ([SongId], [ArtistId], [PlaylistId], [AlbumId]) VALUES (10, 2, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([id], [Name], [Sound_style]) VALUES (4, N'Psychedelic Rock', N'Rock+psychedelia+folk+garage rock+jazz+blues+electronic+raga+surf')
INSERT [dbo].[Genres] ([id], [Name], [Sound_style]) VALUES (6, N'Progressive Rock', N'Rock+psychedelia+progressive music+jazz+folk+classical+funk')
INSERT [dbo].[Genres] ([id], [Name], [Sound_style]) VALUES (7, N'Electro swing', N'EDM+house+swing+jazz+hip hop')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([Id], [Name], [Creation_date], [Number_of_songs], [Abandoned], [OwnerNick]) VALUES (4, N'ProgRock', CAST(N'2023-02-12T05:05:30.0000000' AS DateTime2), 6, 0, N'Evgeny')
INSERT [dbo].[Playlists] ([Id], [Name], [Creation_date], [Number_of_songs], [Abandoned], [OwnerNick]) VALUES (7, N'Swing&Jazz', CAST(N'2024-01-12T12:25:40.0000000' AS DateTime2), 10, 1, N'Natali')
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([id], [Name], [Duration], [MaxVolume_Db], [MaxFrequency_Hz], [GenreId]) VALUES (5, N'Automation', CAST(N'00:03:30' AS Time), 61.8, 10000.2, 4)
INSERT [dbo].[Songs] ([id], [Name], [Duration], [MaxVolume_Db], [MaxFrequency_Hz], [GenreId]) VALUES (6, N'Runaway', CAST(N'00:08:11' AS Time), 74.2, 1523.76, 6)
INSERT [dbo].[Songs] ([id], [Name], [Duration], [MaxVolume_Db], [MaxFrequency_Hz], [GenreId]) VALUES (7, N'Nobody', CAST(N'00:05:11' AS Time), 72.92, 3432.12, 6)
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
INSERT [dbo].[Users] ([Guid], [Nickname], [Mail], [Password], [Registration_date], [Gender]) VALUES (N'8f849b3c-5e5e-41a8-a577-0d61b3a899d7', N'Evgeny', N'Evgeny@mail.ru', N'1234', CAST(N'2022-09-14' AS Date), N'M')
INSERT [dbo].[Users] ([Guid], [Nickname], [Mail], [Password], [Registration_date], [Gender]) VALUES (N'028b8d88-9a26-47e3-bfb8-34a3aec1d910', N'Natali', N'Natali@yandex.ru', N'zxcvbn', CAST(N'2021-05-01' AS Date), N'W')
INSERT [dbo].[Users] ([Guid], [Nickname], [Mail], [Password], [Registration_date], [Gender]) VALUES (N'20688e4f-806c-4d3f-954c-8ca6e9be5124', N'Oleg', N'Oleg@gmail.com', N'qwerty', CAST(N'2023-12-15' AS Date), N'M')
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Guid__787EE5A0]  DEFAULT (newid()) FOR [Guid]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([id])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Artists]
GO
ALTER TABLE [dbo].[CopySongs]  WITH CHECK ADD  CONSTRAINT [FK_CopySongs_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([id])
GO
ALTER TABLE [dbo].[CopySongs] CHECK CONSTRAINT [FK_CopySongs_Albums]
GO
ALTER TABLE [dbo].[CopySongs]  WITH CHECK ADD  CONSTRAINT [FK_CopySongs_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([id])
GO
ALTER TABLE [dbo].[CopySongs] CHECK CONSTRAINT [FK_CopySongs_Artists]
GO
ALTER TABLE [dbo].[CopySongs]  WITH CHECK ADD  CONSTRAINT [FK_CopySongs_Playlists] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([Id])
GO
ALTER TABLE [dbo].[CopySongs] CHECK CONSTRAINT [FK_CopySongs_Playlists]
GO
ALTER TABLE [dbo].[CopySongs]  WITH CHECK ADD  CONSTRAINT [FK_CopySongs_Songs] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([id])
GO
ALTER TABLE [dbo].[CopySongs] CHECK CONSTRAINT [FK_CopySongs_Songs]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users] FOREIGN KEY([OwnerNick])
REFERENCES [dbo].[Users] ([Nickname])
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([id])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Genres]
GO
USE [master]
GO
